@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@400;700&display=swap');


:root {
  --primary-color:#900c27;
  --secondary-color:#1e7693;
  --button-color: #0c0c0e;
  --font-color:#f1f8fd;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Quattrocento Sans', sans-serif;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--font-color);
  color: var(--font-color);
}

.container {
  width: 480px;
  height: 630px;
  background: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 5px 20px 10px rgba(0, 0, 0, 0.4);
}

/* Form */
form {
  width: 90%;
}

.form-group {
  height: 65px;
}

label {
  position: relative;
  bottom: 3px;
}

input {
  width: 100%;
  height: 34px;
  padding: 5px;
  border: 1.6px solid black;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
}

input:valid {
  border: 1.6px solid green;
}

input:invalid {
  border: 1px solid red;
}

button {
  cursor: pointer;
  color: var(--font-color);
  background: var(--button-color);
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 5px;
}

button:hover {
  filter: brightness(115%);
}

button:focus {
  outline: none;
}

.message-container {
  background: white;
  border-radius: 5px;
  width: 90%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: black;
}